* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/blue-halftone-memphis-background-with-yellow-lines-circles-shapes_1017-31954.jpg?w=1060&t=st=1677063777~exp=1677064377~hmac=cce88c40ec965ddf031288bff43f59e8060f88b2346b4e4e4133c8f300001cf3");
  background-color: aqua;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
